/* formatação geral */
body ul{
font-family:"Lucida Console", Courier, monospace;
font-weight: bold;
font-synthesis: style weight;
font-synthesis: none;

}

h1{

	margin: 0;
	font-family: "OCR A Std", monospace;
	font-weight: bold;
	font-style: italic;
	text-shadow: 5px 5px black;
	 -webkit-text-stroke-width: 1.0px; /* largura da borda */
    -webkit-text-stroke-color: white; /* cor da borda */
}
h2{
    margin: 0;
	font-family: "OCR A Std", monospace;
	font-weight: bold;
	
	
}
h3{
margin: 0;
	font-family: "OCR A Std", monospace;
	font-weight: bold;
}
/*p {
	font-family: sans-serif;
}*/
p {
	font-family: monospace;
}
.container{
	width: 100%;
	font-family: "OCR A Std", monospace;
	font-weight: 700;


}
/* cabeçalho ou barra de navegação */
.logo img{
	border-radius: 50%;
}
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFBF00;
	padding: 5px;


}

nav ul{

	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}
nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;

}

nav ul li a{

display: inline-block;
padding: 10px 0;
width: 100%;
text-decoration: none;
color: #000000;

}
/*Header*/
header{
background-image: url('../img/fundotela3.jpg');
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
color: #F5BCA9;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 30px;

}
header h1{
	font-size: 4.8em;
	margin-bottom: 0.3em;
	color: #DF013A;
}
header p{
	margin-bottom: 1.5em;
	font-size: 2.5em;
	color: white;
   font-family: "OCR A Std", monospace;
   text-shadow: 2px 2px black;
   -webkit-text-stroke-width: 0.9px; /* largura da borda */
    -webkit-text-stroke-color: black; /* cor da borda */

}
.botao{
	color: black;
	text-decoration: none;
	padding: 12px 32px;
	background-color: #FFBF00;
	font-size: 1.5em;
	border-radius: 5%;
	font-family:"OCR A Std", monospace; 
	font-variant: inherit;


}
	/*sobre*/
	#sobre{
		line-height: 1.3;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: #FFBF00;
		font-family: "Candara", sans-serif;

	}
    
	#sobre p{
		width: 100%;
	}
	#sobre h2{
		margin-top: 10px;
		font-size: 2em;
		font-family: "Candara", sans-serif;

	}

	.foto img{
		width: 50%;
		background-color: #FFBF00;

	}
	.foto{
		float: left;
		width: 50%;


	}
	.texto{
		float: right;
		width: 50%;

	}
/*Especialidades*/
	#especialidades{
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 0 auto;
	}

	#especialidades div {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 30px;
	}

	#especialidades p{
		line-height: 1.5;
		margin: 2vh;
		font-size: 1.2em;
		background-color: #F7D358;
	}

#especialidades img{
	margin: 10px 0;
}
#especialidades h2{
	font-size: 2em;
	font-family: "Candara", sans-serif;
}
#especialidades h3{
	color: #DF013A;
	font-size: 1.3em;
	text-shadow: 0.56px 0.56px black;
	-webkit-text-stroke-width: 0.8px; /* largura da borda */
    -webkit-text-stroke-color: black; /* cor da borda */
}

#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#competencias h2{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
	font-family: "Candara", sans-serif;
}
#competencias h3{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
	font-family: sans-serif;
}
#competencias p{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
	font-style: italic;

}
#competencias a{
	text-decoration: none;
}
#competencias img{
	width: 100%;
	margin-bottom: 0;
}
#competencias .comp p{
	border-left: 4px solid #6A0888;
	border-right: 4px solid #6A0888;
	border-bottom: 4px solid #6A0888;
	margin-top: 0;
	font-family:"OCR A Std", monospace;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 1.5;  
}

#trabalhos{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#trabalhos h2{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
	font-family: "Candara", sans-serif;
}
#trabalhos h3{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
	font-family: sans-serif;
}
#trabalhos p{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
	font-style: italic;

}
#trabalhos a{
	text-decoration: none;
}
#trabalhos img{
	width: 100%;
	margin-bottom: 0;
}
#trabalhos .job p{
	border-left: 4px solid #6A0888;
	border-right: 4px solid #6A0888;
	border-bottom: 4px solid #6A0888;
	margin-top: 0;
	font-family:"OCR A Std", monospace;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 1.5;  
}

.job img:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
transform: rotate(-10deg);
}
.job img{
	border: 10px groove #6A0888;
}

#hobby {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}
#hobby h2{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
	font-family: "Candara", sans-serif;
}
.hobby{
	width: 80%;
	align-items: center;
	text-align: center; 
}
.hobby p{
	font-size: 1em;
	font-family: sans-serif;
}
.hobby img:hover{
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
transform: rotate(-10deg);
}
.hobby img{
	border: 7px groove #8A0808;
}
.hobby h3{
	font-size: 1.3em;
	margin-top: 30px;
	margin-bottom: 14px;
}
#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #FFBF00;
	width: 100%;
}
#contato h2{
	margin-left: 20px;
	margin-width: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2.3em;
	text-align: center;
	color: #610B0B;
}
#contato > p{
	margin-bottom: 10px;
	font-size: 1.5em;
	color: #3B0B2E;
	text-align: center;
}
#contato a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-family: monospace;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}
footer {
	text-align: center;
	width: 100%;
	font-family: monospace;
	background-color: #610B0B;
	color: white;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 1.2em;

}



@media screen and (min-width: 768px){

nav{
	flex-direction: row;
	justify-content: space-around;

}

nav ul{

	flex-direction: row;
	width: 70%;
	}
	/*Header*/
	header{

		height: 60vh;
		justify-content: center;

	}


	#hobby img{
	width: 35%;
}

	/*sobre*/
	#sobre{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		height: 90vh;
		justify-content: center;
		min-height: 50vh;

	}
	#sobre div{
		flex-grow: 1;
		flex-basis: 300px;
		padding: 10 30px;

	}
	#sobre h2{
		text-align: center;
		width: 90%;
		font-family: "Candara", sans-serif;


	}
	#sobre p{
		font-family: sans-serif;
		margin-right: 60px;
	}
	
	#especialidades{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;
	}
#especialidades h2{
	text-align: center;
	width: 100%;

}
#especialidades div{
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;

} 
#competencias{
	flex-direction: row;
	flex-wrap: wrap;
}
#competencias h2{
	width: 100%;
	text-align: center;
}
#competencias h3{
	width: 100%;
	text-align: center;
}
#competencias .comp{
	width: 25%;
	text-align: center;
}
#competencias img{
	width: 100%;
}

#trabalhos .job{
	width: 33.3333333333%;
	text-align: center;
}
#trabalhos img{
	width: 100%;
}
#trabalhos{
	flex-direction: row;
	flex-wrap: wrap;
}
#trabalhos h2{
	width: 100%;
	text-align: center;
}
#trabalhos h3{
	width: 100%;
	text-align: center;
}


#contato {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	max-height: 40vh;
	width: 100%;
}
#contato h2, #contato h3, #contato p{
	width: 100%;
	text-align: center;

}
}